<!doctype html>
<html lang="en">
    {% include head.html %}
<body class="theme-base-08">
    {% include sidebar.html %}


    <div class="wrap">
        
      <div class="masthead">
        <div class="container">
          <h3 class="masthead-title">
            <a href="{{ site.baseurl }}/" title="Home">{{ site.title }}</a>
            <small>{{ site.tagline }}</small>
          </h3>
        </div>
      </div>

        <div class="container content">
            <main>
            {{ content }}
            </main>
        </div>
    </div>

    <label for="sidebar-checkbox" class="sidebar-toggle"></label>

    <script src='{{ site.baseurl }}/js/sidebar-toggle.js'></script>
    <script src="http://localhost:35729/livereload.js"></script>
</body>
</html>

